@import "../../styles/variables";

.postings-container-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: $main-white;
  margin: 2em 2em 2em 2em;
  padding: 2em;
  width: 100%;
  height: 85vh;
}

.postings-title-wrapper {
  background-color: $main-blue;
  height: 3em;
  width: 100%;
  margin: 1em 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.postings-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $main-white;
  width: 100%;
}

.postings-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 1em auto auto;
  padding: 0.8em;
  overflow: scroll;
}

@media screen and (max-width: 500px) {
  .postings-container-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
  }

  .postings-wrapper {
    height: 65vh;
    width: 100%;
    margin: 5em;
  }
}
