@import "../../styles/variables";

.postings-container {
  display: flex;
  flex-direction: column;
  background-color: $main-white;
  margin: 2em 2em 2em 2em;
  padding: 1em;
  width: 100%;
  height: 100%;
}

.postings-title-wrapper {
  background-color: $main-blue;
  height: 3em;
  margin: 1em 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.postings-title {
  color: $main-white;
}

.postings-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 1em;
  padding: 0.8em;
  align-content: center;
  justify-content: center;
  overflow: scroll;
}
