@import "../../styles/variables";

.postings-container {
  display: flex;
  flex-direction: column;
  background-color: $main-white;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 1em;
  padding: 1em;
  width: 70%;
}

.postings-title-wrapper {
  background-color: $main-blue;
  height: 3em;
  margin: 1em 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.postings-title {
  color: $main-white;
}

.postings-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 1em;
  padding: 0.8em;
  justify-content: space-between;
  overflow: auto;
}
