@import "../../styles/variables";
@import "../../styles/mixins";

.user-wrapper {
  @include sidebar-bar;
}

.profile-picture {
  border: 5px solid $main-orange;
  border-radius: 50%;
  height: 8em;
  width: 8em;
  margin-top: 2em;
}

.rating-wrapper {
  margin: 0.5em;
}

.star-image {
  margin: 0.25em;
  height: 1.8em;
  width: 1.8em;
}

.section-titles {
  width: 100%;
  margin: 2em;
}

.sidebar-titles {
  font-size: 13px;
  font-weight: 700;
}

.hours-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $main-white;
  background-color: $main-blue;
  height: 2em;
  width: 50%;
  margin: 1em auto;
}

.upcoming-job-link-wrapper {
  text-decoration: none;
  color: inherit;
}

.upcoming-job-card {
  border: 1px solid $main-orange;
  padding: 0.5em 1em;
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: 0.5em;
  transition: all 0.3s ease-in-out;
  &:hover {
    cursor: pointer;
    transform: scale(1.005);
    box-shadow: 1px 1px 3px 0px #ffbf69;
  }
}

.job-event-name {
  font-size: 0.7em;
  font-weight: 300;
  font-style: italic;
  margin: 0;
}

.job-event-main-detail {
  font-size: 1em;
}

.upcoming-job-cards-wrapper {
  margin-top: 1em;
  overflow: scroll;
  height: 15em;
  width: 20em;
}

.event-info-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.components-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 80%;
  position: sticky;
  top: 0;
}

.user-toggle-button {
  background-color: $main-white;
  height: 4em;
  width: 3em;
  border-radius: 0 85% 85% 0;
  border: none;
  outline: none;
}

.glyph-icon-sidebar {
  &:hover {
    cursor: point;
    transform: scale(1.08);
  }
}

.user-open {
  @include sidebar-bar;
}

.user-closed {
  display: none;
}