@import "../../styles/variables";

.user-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: $main-white;
  width: 20em;
  margin: 2em;
  padding: 1em;
  position: fixed;
}

.profile-picture {
  border: 5px solid $main-orange;
  border-radius: 50%;
  height: 10em;
  width: 10em;
}

.star-image {
  margin: 0.25em;
  height: 1.5em;
  width: 1.5em;
}

.section-titles {
  width: 100%;
  margin: 2em;
}

.hours-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $main-white;
  background-color: $main-blue;
  height: 2em;
  width: 50%;
  margin: 0.5em auto;
}

.upcoming-job-card {
  border: 1px solid $main-orange;
  padding: 0.5em 1em;
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: 0.5em;
  transition: all 0.3s ease-in-out;
  &:hover {
    cursor: pointer;
    transform: scale(1.005);
    box-shadow: 1px 1px 3px 0px #ffbf69;
  }
}

.upcoming-job-cards-wrapper {
  overflow: scroll;
  height: 10em;
  width: 20em;
}

.event-info-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
