@import "../../styles/variables";

.App {
  display: flex;
  flex-direction: row;
  background-color: $main-grey;
  height: auto;
  width: 100vw;
  font-family: "Source Sans Pro", sans-serif;
}

#blockColorblindContent {
  display: none;
}
