@import "../../styles/variables";

.App {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: $main-grey;
  height: 100vh;
  width: 100%;
}

#blockColorblindContent {
  display: none;
}
