@import "../../styles/variables";
@import "../../styles/mixins";


.progress-ring-container {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.donut_single {
  position: relative;
  width: auto;
}

.progress-ring-text {
  color:$main-black;
  position: absolute;
  top: 107px;
  left: 93px;
  font-weight: 700;
  font-size: 1em;
}

.progress-ring {
  overflow: hidden;
  margin: 0;
  width: 230px;
  height: 230px;
}